
@{
    ViewData["Title"] = "AddProductError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Product Error</h1>
<h4>You have not created order yet</h4>
<div>
    <a asp-action="Create">Create an new Order</a>
</div>
