
@{
    ViewData["Title"] = "LoginError";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1>Login Failed</h1>
<h4>Incorrect email or password</h4>
<a asp-controller="Login" asp-action="Login">Back to Login</a>
